/* Container for the entire app */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content should take all available space */
.main-content {
    flex: 1;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
}

@media (max-width: 700px) {
    .footer {
        width: 100vw;
        margin-left: 0px;
    }
}

.theme-switch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
